/*Set property values to the html elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Set background colour of the body*/
body {
  background-color: #d9dcd6;
}
/*Set property values to the header*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*Set property values to th header/h1*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/*Set property value to header/h1 with the class="seo"*/
.header h1 .seo {
  color: #d9dcd6;
}
/*Set property value to the header in the nav*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*Set property value to ul in the nav/header*/
.header nav ul {
  list-style-type: none;
}
/*Set property value to ul/li in the nav/header*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*Set property value to link/a*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*Set property value to paragraph/p*/
p {
  font-size: 16px;
}
/*Set property value to the class="hero"*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*Set property value to the class="flot-left"*/
.float-left {
  float: left;
  margin-right: 25px;
}
/*Set property value to the class="flot-right"*/
.float-right {
  float: right;
  margin-left: 25px;
}
/*Set property value to the class="content"*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*Set property value to the class="benefits"*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*Set property value to the class="benefit"*/
.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}
/*Set property value to the h3 with the class="benefit"*/
.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*Set property value to the img with the class="benefit"*/
.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*Set property value to the class="services"*/
.services {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*Set property value to the img with the class="flot-left"*/
.services img {
  max-height: 200px;
}
/*Set property value to the h2 with the class="flot-left"*/
.services h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*Set property value to the class="footer"*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*Set property value to the h2 with the class="flot-left"*/
.footer h2 {
  font-size: 20px;
}

/*Challenge - 01 Siva Ramachandran style.css file*/
